/*Fonte*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

/*CSS Geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --clr: #222327;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--clr);
}
/*Parte da NavBar*/
.navegacao{
    position: relative;
    width: 400px;
    height: 70px;
    display: flex;
    background: rgb(255, 251, 251);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.navegacao ul{
    display: flex;
    width: 350px;
}
.navegacao ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
.navegacao ul li a{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.navegacao ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}
.navegacao ul li.active a .icon{
    transform: translateY(-32px);

}
.navegacao ul li a .text{
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}
.navegacao ul li.active a .text{
    opacity: 1;
    transform: translateY(10px);
}
.indicador{
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background-color: rgb(226, 21, 21);
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
}
.indicador::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 0px -10px 0 0 var(--clr);
}
.indicador::after{
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: 0px -10px 0 0 var(--clr);
}