/*Fonte*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

/*CSS Geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --clr: #222327;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--clr);
}
/*Parte da NavBar*/
.navegacao{
    position: relative;
    width: 400px;
    height: 70px;
    display: flex;
    background: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.navegacao ul{
    display: flex;
    width: 350px;
}
.navegacao ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
.navegacao ul li a{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.navegacao ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1,5em;
    text-align: center;
    transition: 0,5;
    color: var(--clr);
}
.navegacao ul li:hover a .icon{
    transform: translate();
}